# Ain't nobody want these
.DS_Store
tmux/resurrect

# Privacy matters
aws/
sync/
.ssh
.pypirc

# These are controlled by plugin managers
dev/.vim/plugged/
term/.tmux/

# These are local
dev/.vim/dict.en.add.spl
dev/.vim/dict.en.add
dev/.vim/session
dev/.vim/tags
dev/.vim/vimrc
