# Ain't nobody want these
.DS_Store
vim/session
tmux/resurrect

# Privacy matters
aws/keys
aws/certs
aws/credentials
boto
ssh
pypirc
unison

# These are controlled by plugin managers
vim/plugged
tmux/plugins
