[user]
	email = cdave@uw.edu
	name = Dave Williams
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = opendiff
[credential]
	helper = osxkeychain
[github]
	user = cdw
